<div class="panel  panel-info">
  <div class="panel-heading">
    <div class="panel-title"><h2>Book Impression Reports</h2></div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <table class="table table-bordered table-striped table-condensed table-hover" ng-show="bothBusNameAndBookAreSelected()">
          <thead>
            <caption><strong>Impressions for {{businessName}} in {{miscReportOptions.month}}/{{miscReportOptions.year}} from {{book}}</strong></caption>
            <tr><th>Channel</th><th>Count</th></tr>
          </thead>
          <tbody>
            <tr ng-repeat="impressionPerChannel in impressionAndChannelByBook">
              <td>{{impressionPerChannel.channel}}</td>
              <td>{{impressionPerChannel.impression_count}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <div google-chart chart="recentTotalImpressionsByBookChart" />
        <collapsable-chart-details data="recentTotalImpressionsByBookChart"></collapsable-chart-details>
      </div>
    </div>
  </div>
</div>