<div class="panel  panel-info">
  <div class="panel-heading">
    <div class="panel-title"><h2>Size Matters?</h2></div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      
        <div id="dashboard">
          <!-- <div google-chart chart="sizeMattersChart" style="{{chart.cssStyle}}"/> -->
        </div>
        <!-- <collapsable-chart-details data="recentTotalImpressionsChart"></collapsable-chart-details>
        <collapsable-chart-details data="recentTotalInteractionsChart"></collapsable-chart-details>
        <collapsable-chart-details data="recentTotalImpressionsPerChannelChart"></collapsable-chart-details> -->
      </div>
    </div>
</div>
</div>