<div class="panel  panel-info">
  <div class="panel-heading">
    <div class="panel-title"><h2>Online vs Mobile</h2></div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div id="dashboard">
          <div google-chart chart="channelsChart" style="{{chart.cssStyle}}"/>
        </div>
        <collapsable-chart-details data="impressionsForBusinessPerChannelChart"></collapsable-chart-details>
        <collapsable-chart-details data="interactionsForBusinessPerChannelChart"></collapsable-chart-details>
      </div>
    </div>
</div>
</div>