<div class="panel  panel-info">
  <div class="panel-heading">
    <div class="panel-title"><h2>Average vs YOU</h2></div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div id="dashboard">
          <div google-chart chart="nationalTotalsChart" style="{{chart.cssStyle}}"/>
        </div>
        <collapsable-chart-details data="recentTotalImpressionsPerChannelChart"></collapsable-chart-details>
        <collapsable-chart-details data="recentTotalInteractionsPerChannelChart"></collapsable-chart-details>
        <collapsable-chart-details data="averageImpressionsPerChannelChart"></collapsable-chart-details>
        <collapsable-chart-details data="averageInteractionsPerChannelChart"></collapsable-chart-details>
      </div>
    </div>
</div>
</div>