<div class="panel  panel-info">
  <div class="panel-heading">
    <div class="panel-title"><h2>National Summary Reports</h2></div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <p>Total Appearances Nationally: {{lastMonthTotalImpressions}}</p>
        <div google-chart chart="recentTotalImpressionsChart" />
        <collapsable-chart-details data="recentTotalImpressionsChart"></collapsable-chart-details>
      </div>
      <div class="col-md-6">
        <p>Total Interactions Nationally: {{lastMonthTotalInteractions}}</p>
        <div google-chart chart="recentTotalInteractionsChart" />
        <collapsable-chart-details data="recentTotalInteractionsChart"></collapsable-chart-details>
      </div>
    </div>
</div>
</div>
<!-- 
<div class="panel panel-default">
  <div class="panel-title">Panel heading without title</div>
  <div class="panel-body">
    Panel content
  </div>
</div> -->