<h2>State Rollup Reports</h2>
<div class="row-fluid">
  <div class="span6">
    <table>
      <thead>
        <caption><strong>Total Monthly Usage in {{state}} - {{month}}/{{year}}</strong></caption>
        <tr><th>Book</th><th>Impressions</th><th>EUC</th><th>MIC</th><th>PAC</th><th>STM</th></tr>
      </thead>
      <tbody>
        <!-- <tr ng-repeat="stateReportRow in stateReport">
          <td>{{stateReportRow.book}}</td>
          <td>{{stateReportRow.impressions}}</td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>
