<div class="panel  panel-info">
  <div class="panel-heading">
    <div class="panel-title"><h2>State Rollup Reports</h2></div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-offset-3 col-md-6">
            <div class="progress progress-striped active" ng-show="isLoadingStateRollupReport == true">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-bordered table-striped table-condensed table-hover" ng-show="(bothBusNameAndStateAreSelected() && isLoadingStateRollupReport == false)">
          <thead>
            <caption><strong>Total Monthly Usage in {{state}} - {{month}}/{{year}}</strong></caption>
            <tr><th>Book</th><th>Impressions</th><th>EUC</th><th>MIC</th><th>PAC</th><th>STM</th></tr>
          </thead>
          <tbody>
            <tr ng-repeat="book in booksInState">
              <td>{{book}}</td>
              <td>{{stateReport[book].impressions}}</td>
              <td>{{stateReport[book].EUC}}</td>
              <td>{{stateReport[book].MIC}}</td>
              <td>{{stateReport[book].PAC}}</td>
              <td>{{stateReport[book].STM}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>